fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy>=2.0
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pymongo
bcrypt

[build]
builder = "dockerfile"

[deploy]
startCommand = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "always"